

.elementary{
 display: flex;
 justify-content: space-between;
  padding: 32px 16px;
  background: #e7eeea;  
}

a{
  color: #37523d;
  font-weight: bold;;
  font-size: 24px;
  text-decoration: none;
  font-family: DFKai-sb;
}

a:hover{
  color: red;
}

a:active{
  color: blue;
}

.testFive{
  display: flex;
}

.testFive li{
  padding-left: 16px;
}

.testSix{
  display: flex;
}

.testSix li{
  padding-right: 16px;
}

.junior{
  background: #e7eeea;  
  padding: 16px 30px;
}

.junior ul{
  display: flex;
  justify-content: space-between;
}

.teacher{
  padding: 16px 30px;
  background: #e7eeea;

}

.teacher ul{
  display: flex;
  justify-content: space-between;
}

.mistakeFive{
  display: flex;  
  justify-content: space-around;
  background: #e7eeea;
  padding: 16px 0;
}

h2{
  padding: 16px;
  background: #b3d4d1;
  font-weight: bold;
  font-size: 24px;
  color: #5233FF ;
  text-align: center;
}

.mistakeSix{
  display: flex;
  justify-content: space-around;
  background: #e7eeea;
  padding: 16px 0;
}
